@using Microsoft.AspNetCore.Http
@model Truprogram.Models.Course

@{
    ViewBag.Title = "program";
    ViewBag.css = "cours.css";
    ViewBag.js = "cours.js";
}
<div class="zag">@Model.Name</div>
<div class="ov">
    <div class="logo_cr">
        <img width="250px" src="@Model.Logo">
    </div>
    <div class="text_ov">
        <div class="sp">
            <div class="sp1">Выступающий</div>
            <div class="sp2">@Model.Author</div>
        </div>

        <div class="da">
            <div class="da1">Время проведения</div>

            <div class="da2">
                @Model.DateTimeStart
                @if ((int) ViewBag.daysLeft > 0)
                {
                    <div class="da2"> Дней до начала: @ViewBag.daysLeft</div>
                }
                else
                {
                    <div class="da2">Данный курс уже закончен</div>
                }
            </div>
        </div>
        <div class="lo1">Место проведения</div>
        <div class="lo2">
            <a target="_blank" href="@Model.UrlCourse">@Model.UrlCourse</a>
        </div>
        @if (bool.Parse(ViewBag.verefication) == true)
        {
            <form>
                <input type="hidden" name="courseId" value="@Model.Id"/>
                @if (ViewBag.role == "Слушатель")
                {
                    if (ViewBag.UserCourse == null)
                    {
                        <input type="hidden" name="zap" value="zap">
                        <button id="bt" type="submit">Записаться</button>
                    }
                    else
                    {
                        <input type="hidden" name="zap" value="otp">
                        <button id="bt" type="submit">Отписаться</button>
                    }
                }
                else if (ViewBag.role == "Лектор" && Model.AuthorId == ViewBag.author)
                {
                    <input type="hidden" name="zap" value="del">
                    <button id="bt" type="submit">Удалить</button>
                }
            </form>
            <div class="msg"></div>
        }
    </div>
</div>
<div class="text">
    @Model.Description
</div>

<div class="da2"> Возможность комментировать курсы временно недоступна!</div>